<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='stylesheet' href='style.css' />
  <title>Url Shortener</title>
</head>

<body>
  <h1>URL Shortener</h1>

  <% if (locals.error) { %>
    <p class='error'>
      <%= error %>
    </p>
    <% } %>

      <form action='/' method='post'>
        <input type='url' name='url' id='url' placeholder='input your URL' />
        <input type='submit' value='Generate URL' />
      </form>

      <div class='short-url'>
        <% if (locals.short_url) { %>
          <a href='<%= short_url %>' target='_blank'>
            <%= short_url %>
          </a>
          <% } %>
      </div>
      <div class='end-class'>
        Developed by:-<span> Shayan Biswas</span>
      </div>
      <div class='linkedin'><a style=' color: #00ff2f;' href='https://www.linkedin.com/in/shayanbiswas/'>Connect Me On
          Linkedin</a></div>
</body>

</html>